{%- if section.settings.logo -%}
  {% capture logo_size %}{{ section.settings.logo_width | escape }}x{% endcapture %}
  <a href="{{ routes.root_url }}" class="theme-logo">
    <img
      data-sizes="auto"
      width="200"
      height="60"
      fetchpriority="high"
      alt="{{ shop.name }}"
      alt="{{ section.settings.logo.alt | default: shop.name }}"
  
    >
  </a>
{%- else -%}
  <a href="{{ routes.root_url }}">
    <strong>{{ shop.name }}</strong>
  </a>
{%- endif -%}
