{%- if product.handle != blank -%}
<a class="wishlist-btn" 
   href="javascript: void(0)" 
   button-wishlist 
   data-product-handle="{{ product.handle }}" 
   data-state="add"
   aria-label="{{ settings.wishlist_title }}">
  <i class="pe-7s-like wishlist-icon"></i>
  <span class="wishlist-text" data-add="{{ settings.add_wishlit_title }}" data-loading="{{ settings.loading_wishlist }}" data-remove="{{ settings.remove_wishlit_title }}">{{ settings.add_wishlit_title }}</span>
</a>
{%- else -%}
<a class="wishlist-link" href="/pages/wishlist" aria-label="{{ settings.wishlist_title }}">
  <i class="pe-7s-like"></i>{{ settings.go_to_wishlit_title }}
</a>
{%- endif -%}